@model IEnumerable<Peliculas>

@{
    ViewBag.Title = "Gestion de Peliculas";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}


<h2>Gestion De Peliculas</h2>

<p>
    @Html.ActionLink("Agregar Nueva Película", "AgregarPelicula")
</p>
<table class="table table-hover">
    <tr>
       
        <th>
            <span>Nombre</span>
        </th>
        <th>
           <span>Descripcion</span>
        </th>
        
        <th>
            <span>Calificación</span>
        </th>
        <th>
            <span>Género</span>
        </th>
        <th>
            <span>Duración</span>
        </th>
        <th>
            <span>Fecha de Carga</span>
        </th>
        <th>
            <span>Acción</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        
        <td>
           @Html.DisplayFor(modelItem => item.Calificaciones.Nombre)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Generos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCarga)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarPelicula", new { id = item.IdPelicula })
        </td>
</tr>
}

</table>
